<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DatabaseCleaner" type="DatabaseCleaner.Configuration.DatabaseCleanerSection, DatabaseCleaner"/>
  </configSections>

  <DatabaseCleaner>
    <Strategies>
      <add name="Migrations" type="DatabaseCleaner.MigrationsStrategy, DatabaseCleaner" />
    </Strategies>
  </DatabaseCleaner>
</configuration>